* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  z-index: 1000;
  background-color: #cfcfcf;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

#nav {
  z-index: 1000;
  background-color: #cfcfcf;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
}

footer {
  z-index: 1000;
  background-color: #cfcfcf;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

#about,
#data,
#calculator {
  z-index: 1000;
  background-color: #cfcfcf;
  position: fixed;
}

#about {
  top: 150px;
  left: 0;
  width: 300px;
}

#calculator {
  top: 100px;
  right: 0;
  width: 400px;
  padding: 20px;
}

/* Styles for Calculator */
#form-setup {
  display: flex;
  gap: 30px;
}

#slider-container label {
  display: inline-block;
  width: 60px;
}

.calculator-heading {
  font-weight: bold;
  margin: 0 0 5px 0;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gmnoprint {
  display: none;
}

button[aria-label='Toggle fullscreen view'] {
  display: none;
}

/*
 * Community styles in unhighlighted state.
 */
.community {
  background-color: #cfcfcf;
  color: #000000;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
  transition: all 1s ease;
}

.community::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #cfcfcf;
}

.community .details {
  display: none;
  flex-direction: column;
  flex: 1;
  color: #000000;
}

/*
 * Community styles in highlighted state.
 */
.community.highlight {
  background-color: #cfcfcf;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  padding: 8px 15px;
  width: auto;
}

.community.highlight::after {
  border-top: 9px solid #cfcfcf;
}

.community.highlight .details {
  display: flex;
}

.community.highlight .price {
  display: none;
}
